<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>176688081937-n6id21936du63bs7a6ovjrlum1adekls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176688081937-n6id21936du63bs7a6ovjrlum1adekls</string>
	<key>API_KEY</key>
	<string>AIzaSyA2Mijf48tmTcuFwtGNuMMasz709C8sIt8</string>
	<key>GCM_SENDER_ID</key>
	<string>176688081937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramiliaimankulova.Uberrr</string>
	<key>PROJECT_ID</key>
	<string>uberrr-844ee</string>
	<key>STORAGE_BUCKET</key>
	<string>uberrr-844ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176688081937:ios:a1e82b23eab9450b</string>
	<key>DATABASE_URL</key>
	<string>https://uberrr-844ee.firebaseio.com</string>
</dict>
</plist>